#box {

	padding-top: 1%;

}

#secbox {

	width: 30%;
	height: 40%;
	margin-top: 1%;
	margin-bottom: 1%;

}

#h {

	font-size: 60px;
	padding-top: 7%;
	font-family: 'GeosansLight';

}

#co {

	font-size: 40px;
	padding-top: 3%;
	font-family: 'GeosansLight';
	color: orange;
	text-decoration: underline;

}

input[type=email] {

	border: 1px solid orange;
    border-radius: 10px;
    color: black;
    padding: 1%;
    width: 45%;
	font-size: 16px;
	transition: all 0.5s ease;
   	background-image: url('../images/mailicon.png');
   	background-size: 9%;
	background-repeat: no-repeat;
	background-position: -15% 50%;
    
}

input[type=email]:focus {

	background-color: #ffad33;
	border: 1px solid black;
	color: black;
	background-position: 3% 50%;
	padding-left: 7%;
    
}

input[type=password] {

	border: 1px solid orange;
    border-radius: 10px;
    color: black;
	font-size: 16px;
	padding: 1%;
    width: 45%;
    transition: all 0.5s ease;
   	background-image: url('../images/keyicon.png');
   	background-size: 9%;
	background-repeat: no-repeat;
	background-position: -15% 50%;
    
}

input[type=password]:focus {

	background-color: #ffad33;
	border: 1px solid black;
	color: black;
	background-position: 3% 50%;
	padding-left: 7.5%;
    
}

input[type=submit] {

	border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 1%;
	padding: 0.75%;
	transition: all 0.2s ease;

}

input[type=submit]:hover {

	color: white;
	cursor: pointer;
	border-radius: 20px;
    
}

input[type=submit]:active {

	font-size: 19px;

}

input {

	font-family: 'GeosansLight';

}

.toggle {

	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
	float: right;

}

.toggle:before {

	content: "";
	position: relative;
	top: 3px;
	left: 3px;
	width: 34px;
	height: 14px;
	display: block;
	background: #9A9999;
	border-radius: 8px;
	transition: background 0.2s ease;

}

.toggle span {

	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	display: block;
	background: white;
	border-radius: 10px;
	box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
	transition: all 0.2s ease;

}

.toggle span:before {

	content: "";
	position: absolute;
	display: block;
	margin: -18px;
	width: 56px;
	height: 56px;
	background: rgba(255, 150, 0, 0.5);
	border-radius: 50%;
	transform: scale(0);
	opacity: 1;
	pointer-events: none;

}

#cbx:checked + .toggle:before {

	background: rgba(255, 200, 0, 1);

}

#cbx:checked + .toggle span {

	background: orange;
	transform: translateX(20px);
	transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
	box-shadow: 0 3px 8px rgba(255, 150, 0, 0.2);

}

#cbx:checked + .toggle span:before {

	transform: scale(1);
	opacity: 0;
	transition: all 0.4s ease;

}

.center {

	width: 35%;
	height: 20%;
	margin-bottom: -6%;

}

#rememberText {

	position: relative;
	font-family: 'GeosansLight';
	font-size: 20px;
	float: left;
	bottom: 24px;

}

#error {

	font-family: 'GeosansLight';
	font-size: 20px;
	font-weight: bold;

}

#text {

	font-family: 'GeosansLight';
	font-size: 20px;
	margin-top: 5%;

}

.redirect {

	color: red;
	text-decoration: none;

}

.redirect:hover {

	color: #ff6666;
	cursor: pointer;
	
}