#GilouPasContent {

    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    display: block;
    

}

#GilouPLS {

    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    display: block;
    

}

#GilouBeauf {

    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    display: block;
    

}

.images {

    border: 6px solid white;
    box-shadow: 0px 0px 17px #BBB;
    margin-bottom: 10%;
    
}
