#box {

	padding-top: 1%;

}

#secbox {

	width: 30%;
	height: 40%;
	margin-top: 1%;
	margin-bottom: 1%;

}

#h {

	font-size: 60px;
	padding-top: 7%;
	font-family: 'GeosansLight';
	text-decoration: underline;
	color: orange;

}

#co {

	font-size: 25px;
	padding-top: 3%;
	font-family: 'GeosansLight';
	width: 38%;
	text-align: center;

}

#boxtext {

	font-size: 20px;
	font-family: 'GeosansLight';
	float: left;

}

input[type=email] {

	border: 1px solid orange;
    border-radius: 10px;
    color: black;
    padding: 1%;
    width: 45%;
	font-size: 16px;
	transition: all 0.5s ease;
   	background-image: url('../images/mailicon.png');
   	background-size: 9%;
	background-repeat: no-repeat;
	background-position: -15% 50%;
    
}

input[type=email]:focus {

	background-color: #ffad33;
	border: 1px solid black;
	color: black;
	background-position: 3% 50%;
	padding-left: 7%;
    
}

input[type=text] {

	border: 1px solid orange;
    border-radius: 10px;
    color: black;
	font-size: 16px;
	padding: 1%;
    width: 45%;
    transition: all 0.5s ease;
   	background-image: url('../images/keyicon.png');
   	background-size: 9%;
	background-repeat: no-repeat;
	background-position: -15% 50%;
    
}

input[type=text]:focus {

	background-color: #ffad33;
	border: 1px solid black;
	color: black;
	background-position: 3% 50%;
	padding-left: 7.5%;
    
}

input[type=password] {

	border: 1px solid orange;
    border-radius: 10px;
    color: black;
	font-size: 16px;
	padding: 1%;
    width: 45%;
    float: right;
    transition: all 0.5s ease;
   	background-image: url('../images/keyicon.png');
   	background-size: 9%;
	background-repeat: no-repeat;
	background-position: -15% 50%;
    
}

input[type=password]:focus {

	background-color: #ffad33;
	border: 1px solid black;
	color: black;
	background-position: 3% 50%;
	padding-left: 7.5%;
    
}

input[type=submit] {

	border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 1%;
	padding: 0.75%;
	transition: all 0.2s ease;

}

input[type=submit]:hover {

	color: white;
	cursor: pointer;
	border-radius: 20px;
    
}

input[type=submit]:active {

	font-size: 19px;

}

input {

	font-family: 'GeosansLight';

}

#error {

	font-family: 'GeosansLight';
	font-size: 20px;
	font-weight: bold;

}

#text {

	font-family: 'GeosansLight';
	font-size: 20px;
	margin-top: 5%;

}